{% extends 'authentification/pattern.html' %}

{% block title %}Sign Up{% endblock %}

{% block meet %}Register new account{% endblock %}

{% block content %}
    <div class="content">
        {% for field in form %}
            <p>{{ field.label }}: {{ field }}</p>
        {% endfor %}
        <p>{{ form.errors }}</p>

        {% for message in messages %}
            {{ message }}
        {% endfor %}

        <br>
        <button type="submit">Sign Up</button>
        <p class="other-way"><a href="{% url 'signin' %}">Log in</a></p>
    </div>
{% endblock %}