{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
        <span>
            <a href="{% url 'news' %}">
                <i class="fa-solid fa-house"></i>
                Home
            </a>
        </span>

        <div class="container">
            <div class="search_bar">Search</div>
            <button class="add_post">
                <i class="fa-regular fa-plus"></i>
                Add
            </button>
        </div>

        <div class="profile">
            {% if request.user.username %}
                <a href="{% url 'me' %}" class="my_profile_link">
                    <div class="header_profile_info">
                        <p>{{ request.user.username }}</p>
                        <div class="profile_image"></div>
                    </div>
                </a>

                <span>|</span>
            
                <a href="{% url 'signout' %}" class="header_profile_logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Log out</span>
                </a> 
            {% else %}
                <a href="{% url 'signin' %}" class="header_profile_logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Sign in</span>
                </a> 
            {% endif %}       
        </div>
    </header>
</body>
</html>