<!-- pc screen nav -->
<nav class="navbar  navbar-expand-md navbar-light bg-white">
    <div class="container-lg">
        <a href="{% url 'news' %}" class="navbar-brand">Blog</a>

        <div class="search-add d-none d-md-flex align-items-center">
            <form action="" class="d-block">
                <input type="search" class="form-control bg-light" placeholder="Search">
            </form>

            <!-- add post modal trigger -->
            <div class="">
                <button class="btn btn-outline-primary px-4 d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#headerArticleModal" type="button" >
                    <i class="fa-regular fa-plus fs-6 me-2"></i>
                    Add
                </button>
            </div>

        </div>

        <!-- add post modal content -->
        <div class="modal fade" id="headerArticleModal" tabindex="-1" aria-labelledby="headerArticleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">New post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- add post form -->
                        <form action="{% url 'create-article' %}" enctype="multipart/form-data" method="post" id="header-add-article" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" name="title" id="title" value="{{ article.title }}" class="form-control" maxlength="120" required>
                                <div class="form-text">Maximum 120 chars</div>
                            </div>
                            <div class="mb-3">
                                <label for="anounce" class="form-label">Anounce</label>
                                <input type="text" name="anounce" id="anounce" value="{{ article.anounce }}" class="form-control" maxlength="220" required>
                                <div class="form-text">Maximum 220 chars</div>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" accept="image/*" name="image" id="image" value="{{ article.image }}" class="form-control" maxlength="220">
                                <div class="form-text">Image for preview</div>
                            </div>
                            <div class="mb-3">
                                <label for="text" class="form-label">Text</label>
                                <textarea class="form-control" name="text" id="text" cols="30" rows="10">{{ article.text }}</textarea>
                            </div>

                            <!-- close modal and form submit btns -->
                            <div class="text-end">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary ms-3">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!-- mobile screen search btn -->
            <span class="fs-4  d-md-none text-secondary" data-bs-toggle="mobile-search" aria-expanded="false">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>

            <!-- mobile-screen btn for profile dropdown -->
            <span class="ms-4  d-md-none fs-4 text-secondary" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </span>

            <!-- profile dropdown trigger and menu -->
            <div class="btn-group" role="button">
                <div class="" alt="" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.user.is_authenticated %}
                        <span class="fw-bold d-none d-xl-inline nav-item dropdown">{{ request.user.username }}</span>
                        <img src="{{ request.user.profile.avatar.url }}" class="border border-dark rounded-circle object-fit-cover ms-3 d-none d-md-inline-block" alt="">
                    {% else %}
                        <span class="fw-bold d-none d-xl-inline nav-item dropdown">Guest</span>
                        <img src="/media/profile_pics/default_avatar.jpg" class="border border-dark rounded-circle object-fit-cover ms-3 d-none d-md-inline-block" alt="">
                    {% endif %}


                </div>

                <!-- dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end mt-3 mt-md-2">
                    {% if request.user.is_authenticated %}
                        <li><a class="dropdown-item" href="{% url 'me' %}">My profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" href="{% url 'signout' %}">Log out</a></li>
                    {% else %}
                        <li><a class="dropdown-item text-primary" href="{% url 'signin' %}">Sign in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- mobile-screen nav panel -->
<nav class="low-nav fixed-bottom navbar navbar-expand navbar-light bg-white d-md-none fs-4 border border-top py-1">
    <div class="container-fluid d-block ">
        <ul class="navbar-nav justify-content-between align-items-center px-5">
            <li class="nav-item">
                <a href="{% url 'news' %}" class="nav-link"><i class="fa-solid fa-house"></i></a>
            </li>
            <li class="nav-item" id="mobile-add-btn">
                <button class="btn btn-outline-dark border-secondary px-3 py-1" type="button" data-bs-toggle="modal" data-bs-target="#headerArticleModal">
                    <i class="fa-regular fa-plus"></i>
                </button>
            </li>
            <li class="nav-item">
                <a href="{% url 'me' %}">
                    <img src="{{ request.user.profile.avatar.url }}" class="border border-dark rounded-circle object-fit-cover" alt="">
                </a>
            </li>
        </ul>
    </div>
</nav>