{% extends 'main/pattern.html' %}

{% block title %}Me{% endblock %}

{% block content %}
    <div class="content">
        <div class="user-info">
            <p id="fullname">id {{ request.user.id}}</p>
            <p id="username">{{ request.user.username }}</p>
            <p id="email">{{ request.user.email }}</p>
        </div>

        <div class="add-post">
            <button id="add-post">Add post</button>
        </div>

        <div class="add-form">
            <form method="POST" novalidate>
                {% csrf_token %}

                {% for field in form %}
                    <p>{{ field.label }}:</p>
                    <p>{{ field }}</p>
                {% endfor %}

                <button type="submit">Add</button>
            </form>

            <div class="form-errors">
                {{ form.errors }}
            </div>
        </div>

        {% for article in articles %}
            <div class="card">
                <h3>#{{article.id}} {{article.title}}</h3>
                <p>{{article.anounce}}</p>
                <br>
                <hr>
                <p>{{ article.author.username }}</p>
                <p>{{ article.date }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}