{% extends 'main/pattern.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="container-fluid px-md-0 py-2 mx-auto" style="max-width: 610px">

    <!-- profile card -->
    <div class="card">
        <div class="card-body">
            <!-- profile avatar -->
            <div class="ratio ratio-1x1 rounded-circle border border-dark border-3 overflow-hidden mx-auto mb-3"
                style="width: 35%">
                <img src="{{ request.user.profile.avatar.url }}" class="object-fit-cover" alt="Raeesh">
            </div>

            <!-- profile username and edit btn -->
            <div class="text-center mb-4">
                <h5 class="card-title mb-3 px-3">@{{ request.user.username }}</h5>
                <button class="btn btn-outline-dark px-5 ">Edit profile</button>
            </div>

            <!-- profile full info -->
            <div class="profile-details bg-light border text-center text-sm-start rounded p-3">
                <div class="row mb-2">
                    <span class="col-sm-3 fw-semibold">Full name</span>
                    <span class="col-sm-9">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </span>
                </div>

                <div class="row mb-2">
                    <span class="col-sm-3 fw-semibold">Email</span>
                    <span class="col-sm-9">{{ request.user.email }}</span>
                </div>

                <div class="row text-primary-emphasis">
                    <span class="col-sm-3 fw-semibold">Registered</span>
                    <span class="col-sm-9">{{ request.user.date_joined }}</span>
                </div>
            </div>
        </div>
    </div>

    <!-- add post modal trigger -->
    <div class="card mt-3 text-center">
        <div class="card-body">
            <button class="btn btn-primary px-5 py-2 fw-semibold" type="button" data-bs-toggle="modal"
                data-bs-target="#addPostModal">Add post</button>
        </div>
    </div>

    <!-- add post modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="addPostModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">New post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- add post form -->
                    <form enctype="multipart/form-data" method="POST" id="add-article" action="{% url 'create-article' %}" novalidate>
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            {{ article_form.title }}
                            <div class="form-text">Maximum 120 chars</div>
                        </div>
                        <div class="mb-3">
                            <label for="anounce" class="form-label">Anounce</label>
                            {{ article_form.anounce }}
                            <div class="form-text">Maximum 220 chars</div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image</label>
                            {{ article_form.image }}
                            <div class="form-text">Image for preview</div>
                        </div>
                        <div class="mb-3">
                            <label for="text" class="form-label">Text</label>
                            {{ article_form.text }}
                        </div>

                        <!-- close modal and form submit btns -->
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary ms-3">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- tabs nav with my posts and likes -->
    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
        <li class="nav-item col-6" role="presentation">
            <button class="nav-link active w-100" id="my-posts-tab" data-bs-toggle="tab"
                data-bs-target="#my-posts-tab-pane" type="button" role="tab" aria-controls="my-posts-tab-pane"
                aria-selected="true">My posts</button>
        </li>

        <li class="nav-item col-6" role="presentation">
            <button class="nav-link w-100" id="liked-tab" data-bs-toggle="tab" data-bs-target="#liked-tab-pane"
                type="button" role="tab" aria-controls="liked-tab-pane" aria-selected="false">Liked</button>
        </li>
    </ul>

    <!-- tabs content -->
    <div class="tab-content" id="myTabContent">

        <!-- my posts tab content -->
        <div class="tab-pane fade show active" id="my-posts-tab-pane" role="tabpanel" aria-labelledby="posts-tab"
            tabindex="0">

            <!-- article card(s) -->
            {% for article in page_obj %}
            <div class="card mb-4">
                <!-- update post modal -->
                <div class="modal fade" id="updatePostModal{{ article.id }}" tabindex="-1" aria-labelledby="updatePostModalLabel{{ article.id }}" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit post</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- add post form -->
                                <form enctype="multipart/form-data" method="POST" action="{% url 'update_article' article.id %}">
                                    {% csrf_token %}

                                    <div class="mb-3">
                                        <label for="title" class="form-label">Title</label>
                                        <input type="text" name="title" id="title" value="{{ article.title }}" class="form-control" maxlength="120" required>
                                        <div class="form-text">Maximum 120 chars</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="anounce" class="form-label">Anounce</label>
                                        <input type="text" name="anounce" id="anounce" value="{{ article.anounce }}" class="form-control" maxlength="220" required>
                                        <div class="form-text">Maximum 220 chars</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Image</label>
                                        <input type="file" accept="image/*" name="image" id="image" value="{{ article.image }}" class="form-control" maxlength="220">
                                        <div class="form-text">Image for preview</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="text" class="form-label">Text</label>
                                        <textarea class="form-control" name="text" id="text" cols="30" rows="10">{{ article.text }}</textarea>
                                    </div>

                                    <!-- close modal and form submit btns -->
                                    <div class="text-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary ms-3">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-header bg-white border-0 d-flex justify-content-between align-items-center pt-3 px-md-5">
                    {% if article.author == request.user %}
                            <a href="{% url 'me' %}">
                                {% if article.author == request.user %}
                                    <span class="author-username fw-bold d-flex align-items-center text-primary">
                                        <i class="fa-solid fa-user me-2"></i>
                                        {{ article.author.username }}
                                    </span>
                                {% else %}
                                    <span class="author-username fw-bold d-flex align-items-center">
                                        <i class="fa-solid fa-user me-2"></i>
                                        {{ article.author.username }}
                                    </span>
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{% url 'author_detail' article.author.id %}">
                                {% if article.author == request.user %}
                                    <span class="author-username fw-bold d-flex align-items-center text-primary">
                                        <i class="fa-solid fa-user me-2"></i>
                                        {{ article.author.username }}
                                    </span>
                                {% else %}
                                    <span class="author-username fw-bold d-flex align-items-center">
                                        <i class="fa-solid fa-user me-2"></i>
                                        {{ article.author.username }}
                                    </span>
                                {% endif %}
                            </a>
                        {% endif %}

                    <!-- post date and controls -->
                    <div class="date-and-controls ">
                        <!-- date -->
                        <span class="posted-date fst-italic">{{ article.date|date:"H:i d-m-Y" }}</span>

                        <!-- controls -->
                        <div class="btn-group ms-3">
                            <span class="fs-4 text-primary rounded" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>
                            </span>

                            <!-- dropdown menu -->
                            <ul class="dropdown-menu dropdown-menu-start">
                                <li>
                                    <!-- update modal trigger -->
                                    <span class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#updatePostModal{{ article.id }}">Edit</span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <!-- delete article btn -->
                                    <a href="{% url 'delete-article' article.id %}" class="dropdown-item text-danger" role="button">Delete</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="card-body pt-1 px-md-5">
                    <h3 class="card-title truncate fw-semibold">{{ article.title }}</h3>
                    <p class="card-subtitle truncate">{{ article.anounce }}</p>
                </div>

                {% if article.image %}
                    <img src="{{ article.image.url }}" class="card-img-center object-fit-contain bg-danger" alt="..." style="max-height: 342px;">
                {% endif %}

                <div class="card-footer bg-white d-flex justify-content-start align-items-center px-md-5">
                    <span class="fs-5 me-2 text-secondary">
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span class="fw-bold text-secondary">15</span>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- liked posts tab content -->
        <div class="tab-pane fade" id="liked-tab-pane" role="tabpanel" aria-labelledby="liked-tab" tabindex="0">

            <!-- article card(s) -->
            <div class="card border-top-0 mb-4">
                <div class="card-header bg-white border-0 d-flex justify-content-between px-md-5">
                    <a href="#">
                        <span class="author-username fw-bold d-flex align-items-center">
                            <i class="fa-solid fa-user me-2"></i>
                            stan_lee
                        </span>
                    </a>
                    <span class="posted-date fst-italic">17.08.2001</span>
                </div>

                <div class="card-body pt-1 px-md-5">
                    <h3 class="card-title truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                        nulla sed ex, id, deserunt, est dicta in obcae sdfsdfsdf</h3>
                    <p class="card-subtitle truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam
                        nulla sed ex, id, deserunt, est dicta in obcaecati ad consequatur nisi commodi minima eligendi
                        aliquam sdf Lorem ipsum dolor sit amet consectetur adipisicin</p>
                </div>
                <img src="https://cdn.sortiraparis.com/images/80/62403/336773-la-tour-eiffel-un-incontournable-de-paris.jpg"
                    class="card-img-center object-fit-contain bg-danger" alt="..." style="max-height: 342px;">

                <div class="card-footer bg-white d-flex justify-content-start align-items-center px-md-5">
                    <span class="fs-5 me-2 text-secondary">
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span class="fw-bold text-secondary">15</span>
                </div>
            </div>

        </div>
    </div>

    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
        <ul class="pagination ">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page=1" class="page-link">&laquo; first</a>
                </li>
                <!-- <li class="page-item">
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">previous</a>
                </li> -->
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% if page_obj.number == page %}
                    <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">next</a>
                </li>
                <!-- <li class="page-item">
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">last &raquo;</a>
                </li> -->
            {% endif %}
        </ul>

    </nav>

</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            // get form element
            var form = $('#add-article');

            // add event listener to form submit button
            form.on('submit', function(event) {
              event.preventDefault(); // prevent default form submission behavior

              // serialize form data using jQuery's serialize method
              var formData = new FormData(this)

              // send AJAX request to server
              $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader('X-CSRFToken', $('input[name="csrfmiddlewaretoken"]').val()); // include CSRF token in request headers
                },
                success: function(response) {
                  handleResponse(response); // handle server response
                },
                error: function(xhr, textStatus, errorThrown) {
                  console.log(xhr.responseText);
                }
              });
            });

            function handleResponse(response) {
                if (response.success) {
                  // display success message to user
                  form[0].reset(); // clear form fields
                  $('#addPostModal').modal('hide');
                  $('#my-posts-tab-pane').prepend(response.article_block);

                } else if (response.errors) {
                  // display validation errors to user
                  var errors = response.errors;
                  for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                      var fieldErrors = errors[field];
                      // display field errors to user
                      var fieldInput = form.find('input[name="' + field + '"]');
                      var fieldErrorList = fieldInput.next('.errorlist');
                      if (fieldErrorList.length === 0) {
                        fieldErrorList = $('<ul class="errorlist"></ul>').insertAfter(fieldInput);
                      } else {
                        fieldErrorList.empty();
                      }
                      for (var i = 0; i < fieldErrors.length; i++) {
                        var error = fieldErrors[i];
                        $('<li></li>').text(error).appendTo(fieldErrorList);
                      }
                    }
                  }
                }
              }
          });


    </script>
{% endblock %}