{% extends 'main/pattern.html' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="container-fluid px-md-0 py-2 mx-auto" style="max-width: 610px">
        {% for article in articles %}
            <div class="card mb-4">
                <div class="card-header bg-white border-0 d-flex justify-content-between pt-3 px-md-5">
                    <a href="{% url 'author_detail' article.author.id %}">
                        <span class="author-username fw-bold d-flex align-items-center">
                            <i class="fa-solid fa-user me-2"></i>
                            {{ article.author.username }}
                        </span>
                    </a>
                    <span class="posted-date fst-italic">{{ article.date }}</span>
                </div>

                <a href="{% url 'post_detail' article.id %}">
                    <div class="card-body pt-1 px-md-5">
                        <h3 class="card-title truncate">{{ article.title }}</h3>
                        <p class="card-subtitle truncate">{{ article.anounce }}</p>
                    </div>
                </a>


                {% if article.image %}
                    <img src="{{ article.image.url }}" class="card-img-center object-fit-contain bg-danger" alt="..." style="max-height: 342px;">
                {% endif %}

                <div class="card-footer bg-white d-flex justify-content-start align-items-center px-md-5">
                    <span class="fs-5 me-2 text-secondary">
                        <i class="fa-regular fa-heart"></i>
                    </span>
                    <span class="fw-bold text-secondary">15</span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}