{% extends 'main/pattern.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="container-fluid px-md-0 py-2 mx-auto" style="max-width: 610px">

        <div id="news-articles-container">
            {% for article in articles %}
                {% include 'main/article_block.html' %}
            {% endfor %}
        </div>

    </div>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        function updateArticle(event, form) {
            event.preventDefault();
            var update_article_form = $(form);
            console.log(update_article_form);
            var formData = new FormData(form);

            $.ajax({
                url: update_article_form.attr('action'),
                type: update_article_form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader('X-CSRFToken', $('input[name="csrfmiddlewaretoken"]').val()); // include CSRF token in request headers
                },
                success: function(response) {
                  updateHandler(response); // handle server response
                },
                error: function(xhr, textStatus, errorThrown) {
                  console.log(xhr.responseText);
                }
              });


              function updateHandler(response) {
                if (response.success) {
                  // display success message to user
                  update_article_form.parent().parent().parent().parent().modal('hide');
                  update_article_form.parent().parent().parent().parent().parent().remove();
                  $('#news-articles-container').prepend(response.article_block);

                } else if (response.errors) {
                  // display validation errors to user
                  var errors = response.errors;
                  for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                      var fieldErrors = errors[field];
                      // display field errors to user
                      var fieldInput = update_article_form.find('input[name="' + field + '"]');
                      var fieldErrorList = fieldInput.next('.errorlist');
                      if (fieldErrorList.length === 0) {
                        fieldErrorList = $('<ul class="errorlist text-danger"></ul>').insertAfter(fieldInput);
                      } else {
                        fieldErrorList.empty();
                      }
                      for (var i = 0; i < fieldErrors.length; i++) {
                        var error = fieldErrors[i];
                        $('<li></li>').text(error).appendTo(fieldErrorList);
                      }
                    }
                  }
                }
              }
        };
    </script>
{% endblock %}
