{% extends 'main/pattern.html' %}

{% block title %}News{% endblock %}

{% block content %}
    <div class="content">
        {% if not articles %}
            <h1 id="no_article">There are no articles :(</h1>
        {% else %}
            {% for article in articles %}
                <div class="card">
                    <h3>#{{article.id}} {{article.title}}</h3>
                    <p>{{article.anounce}}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}