{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <!-- bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body class="bg-light">
    <header class="mb-2">
        {% include 'main/header.html' %}
    </header>


    <main>
        {% block content %}
        {% endblock %}
    </main>


    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- fonwawesome -->
    <script src="https://kit.fontawesome.com/5a484eabe9.js" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <!-- handle header add-article form -->
    <script type="text/javascript">
        $(document).ready(function() {
            // handling HEADER article adding form
            var form = $('#header-add-article');

            // add event listener to form submit button
            form.on('submit', function(event) {
              event.preventDefault(); // prevent default form submission behavior

              // serialize form data using jQuery's serialize method
              var formData = new FormData(this)

              // send AJAX request to server
              $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(xhr, settings) {
                  xhr.setRequestHeader('X-CSRFToken', $('input[name="csrfmiddlewaretoken"]').val()); // include CSRF token in request headers
                },
                success: function(response) {
                  handleResponse(response); // handle server response
                },
                error: function(xhr, textStatus, errorThrown) {
                  console.log(xhr.responseText);
                }
              });
            });

            function handleResponse(response) {
                if (response.success) {
                  // display success message to user
                  form[0].reset(); // clear form fields
                  $('#headerArticleModal').modal('hide');

                  // решил перезагружать страницу для отображения контента,
                  // так как клонировать пост с новыми данными оказалось очень муторно
                  location.reload();

                } else if (response.errors) {
                  // display validation errors to user
                  var errors = response.errors;
                  for (var field in errors) {
                    if (errors.hasOwnProperty(field)) {
                      var fieldErrors = errors[field];
                      // display field errors to user
                      var fieldInput = form.find('input[name="' + field + '"]');
                      var fieldErrorList = fieldInput.next('.errorlist');
                      if (fieldErrorList.length === 0) {
                        fieldErrorList = $('<ul class="errorlist"></ul>').insertAfter(fieldInput);
                      } else {
                        fieldErrorList.empty();
                      }
                      for (var i = 0; i < fieldErrors.length; i++) {
                        var error = fieldErrors[i];
                        $('<li></li>').text(error).appendTo(fieldErrorList);
                      }
                    }
                  }
                }
              }
          });
    </script>

    {% block script %}

    {% endblock %}
</body>
</html>