@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #F4F4F4;
}

/* header styles */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: white;
    padding: 0 180px;
}

header .container {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search_bar {
    box-sizing: border-box;
    font-size: 20px;
    width: 420px;
    height: 46px;
    background-color: #ECECEC;
    color: #616161;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    border-radius: 12px;
}

header button {
    text-align: center;
    border-radius: 12px;
    font-size: 22px;
    color: white;
    background-color: black;
    border: none;
    width: 130px;
    height: 46px;
}

header span {
    font-size: 20px;
}

header span i {
    margin-right: 5px;
    font-size: 24px;
}

header .profile {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .profile_image {
    border-radius: 100%;
    background-color: rgb(9, 173, 146);
    width: 50px;
    height: 50px;
    margin-left: 14px;
}

/* -------------------- */


/* index main styles */

main .content {
    width: 33%;
    margin: 0 auto;
    padding: 40px 0px;
}

.post_block {
    background-color: rgb(255, 255, 255);
    height: 450px;
    border-radius: 15px;
}